/*******************************************************************************
 * Date Picker			                                                       *
 ******************************************************************************/

.date-picker-popup>.month-year-pane {
    -fx-background-color: blue;
}

.date-picker-popup>*>.spinner>.button>.left-arrow, .date-picker-popup>*>.spinner>.button>.right-arrow {
    -fx-background-color: white;
}

.date-picker-popup>*>.spinner>.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
}